*{
    --primary-color: #7c3aed;
    --accent-color: #f59e0b;
    --text-color: #1f2937;
    --background-color: #faf5ff;
}
body{
    margin: 0;
    padding: 2px;
    border-radius: 2px;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.dash{
    display: flex;
    min-height: 100vh;
    gap: 5px;
}
.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header{
    display: flex;
    padding: 10px;
    background-color: white;
    align-items: center;
    height: 40px;
    border-radius: 40px;
    justify-content: space-between;
    max-width: 100vw;
}
header h1{
    color: var(--primary-color)
}
.user-img{
    width: 3em;
    height: 3em;
    border-radius: 5em;
}
.inbox-icon{
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
}
.user-info{
    display: flex;
    font-size: 0.7em;
    align-items: center;
}
.user-info ul{
    list-style-type: none;
}
.search{
    display: flex;
    gap: 2px;
    padding: 0;
    border-radius: 1em;
}
.search img{
    width: 1em;
}
.search input{
    height: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 1em;
}
.search input.open{
    display: block;
    width: 60px;
}
.sidebar{
    height: 100vh;
    top: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    border-radius: 1em;
    max-width: 200px;
    grid-column: span 1;
    grid-row: span 3fr;
    transition: transform 0.3s ease;
}
.sidebar ul{
    list-style: none;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.sidebar ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
    transition: 0.3s;
}
.sidebar ul li a:hover{
    color: var(--accent-color);
}
.burger img{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 1.3em;
    left: 3em;
    z-index: 999;
}
.metrics{
    margin-top: 2em;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
::-webkit-scrollbar{
    display: none;
}
.metrics .wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
}
.cards{
    float: left;
    min-width: 250px;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--text-color);
    color: var(--background-color);
}
.cards span{
    display: flex;
    flex-direction: column;
}
.cards span img{
    width: 30px;
    margin-bottom: -20px;
}
@media (max-width: 800px){
    .hide-on-mobile{
        display: none;
    }
    .burger{
        display: block;
    }
    .burger img{
        left: 10px
    }
    .sidebar{
        position: fixed;
        transform: translateX(-100%);
        z-index: 990;

    }
    .sidebar.active{
        transform: translateX(0);
    }
    .container{
        margin-left: 0;
    }
    .metrics{
        flex-wrap: nowrap;
    }
    .search input{
        width: 1px;
        transition: 0.3s;
    }
  
}