*{
    --primary-color: #7c3aed;
    --accent-color: #f59e0b;
    --text-color: #1f2937;
    --background-color: #faf5ff;
}
body{
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--background-color);
    align-items: center;
    height: 40px;
}
.logo{
    display: flex;
    gap: 0.5em;
    align-items: center;
}
.logo img{
    width: 1.5em;
    height: 1.5em;
}
.logo h1{
    color: var(--primary-color);
    font-size: 2em;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
}
.navbar ul li a{
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s;
}
.navbar ul li a:hover{
    color: var(--accent-color);
}
.signin-btn a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    border: 2px solid var(--accent-color);
    border-radius: 5em;
    background-color: var(--accent-color);
    transition: 0.3s;
}
.signin-btn a:hover{
    background-color: transparent;
    color: var(--accent-color)
}
.sidebar{ 
    position: fixed;
    right: -20em;
    z-index: 999;
    backdrop-filter: blur(0.2em);
    transition: 0.3s;
}
.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}
.sidebar ul li a{
    color: var(--text-color);
    text-decoration: none;
    padding: 1em;
    font-weight: 800;
    transition: 0.3s;
}
.sidebar ul li a:hover{
    color: var(--accent-color);
}
.sidebar.active{
    right: 0;
}
.burger{
    display: flex;
    width: 25px;
    height: 20px;
    cursor: pointer;
    flex-direction: column;
    gap: 2px;
    display: none;
}
.burger span{
    display: block;
    height: 4px;
    background: var(--text-color);
    border-radius: 2px;
    transition: 0.3s;
}
.burger.active span:nth-child(1){
    transform: rotate(45deg) translate(0px, 10px);
}
.burger.active span:nth-child(2){
    opacity: 0;
}
.burger.active span:nth-child(3){
    transform: rotate(-45deg) translate(0px, -10px);
}
.pricing-section{
    margin-top: 1em;
    padding: 20px;
}
.pricing-section h2{
    text-align: center;
    font-weight: 900;
    font-size: 2em;
}
.pricing-section h3{
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
}
.period{
    display: flex;
    gap: 1em;
    justify-content: center;
    border-radius: 2em;
    width: 200px;
    height: 70px;
    margin: auto;
}
.period p{
    padding: 0.5em;
    border-radius: 2em;
    transition: 0.3s;
    cursor: pointer;
}
#monthly{
    background-color: var(--accent-color);
    color: white;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 400px));
    justify-content: center;
    gap: 20px;
    transition: 0.3s ease;
}
.cards.animate{
    animation: fade-in 1s forwards;
}

.cards div{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.cards div span, .cards div h5{
    text-align: center;
}
.cards div span strong{
    font-weight: 800;
    font-size: 2em;
}
.pro-card{
    position: relative;
    border: 2px solid var(--accent-color);
}
.pro-card:hover, .basic-card:hover, .premium-card:hover{
    transform: translateY(-5px);
}
.pro-card a{
    text-decoration: none;
    color: var(--background-color);
    padding: 10px;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 2em;
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}
.pro-card a:hover{
    background-color: transparent;
    color: var(--accent-color);
}
.tag{
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 10px;
    border-radius: 2em;
    background-color: var(--primary-color);
    color: white;
}
.basic-card, .premium-card{
    border: 2px solid var(--primary-color)
}
.basic-card a, .premium-card a{
    text-decoration: none;
    color: var(--background-color);
    padding: 10px;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 2em;
    background-color: var(--text-color);
    border: 2px solid var(--text-color)
}
.basic-card a:hover, .premium-card a:hover{
    color: var(--text-color);
    background-color: transparent;
}
@media (max-width: 800px){
    .hide-on-mobile{
        display: none;
    }
    .burger{
        display: flex;
    }
}
@keyframes fade-in {
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
        
    }
}