*{
    --background-color: #f2f6f3;
    --primary-color: #0b9431;
    --accent-color: #045b1c;
    --font-color: #a9adaa;
    --secondary-font-color: #000;
}
body{
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--secondary-font-color);
}
.dashboard{
    display: grid;
    grid-template-areas: 
    "logo header"
    "sidebar main";
    margin: 10px;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.logo{
    grid-area: logo;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    font-weight: 900;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.burger{
    width: 30px;
    height: 30px;
}
.header{
    grid-area: header;
    background: var(--background-color);
    display:flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}
.header input{
    height: 2em;
    border-radius: 20px;
    padding: 5px;
    border: none;
}
.user-img{
    width: 7em;
    height: 7em;
    border-radius: 30px;
    margin-right: -30px;
}
.inbox-icon{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
}
.user-info{
    display: flex;
    font-size: 0.5em;
    align-items: center;
}
.user-info ul{
    list-style-type: none;
}
.icon{
    width: 30px;
    height: 30px;
}
.sidebar {
    grid-area: sidebar;
    height: 80vh;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: var(--font-color);
    
}
.sidebar ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
.sidebar a, h4{
    text-decoration: none;
    color: var(--font-color);
    padding-left: 10px;
    transition: 0.2s;
}
.sidebar a:hover{
    color: var(--accent-color);
    border-left: 4px solid var(--accent-color);
    border-radius: 4px;
}
.dashboard-txt{
    border-left: 4px solid var(--accent-color);
    border-radius: 4px;
    color: var(--accent-color);
}
.info-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 30px;
}
.info-cards div{
    background: var(--background-color);
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
}
.info-cards div:hover{
    transform: translateY(-7px);
}
.hide-on-desktop{
    display: none;
}
@media (max-width: 800px) {
    .hide-on-mobile{
        display: none;
    }
    .hide-on-desktop{
        display: block;
    }
}